<form class="example-form" #loginForm="ngForm" (ngSubmit)="onSubmit()" >
    
  <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Username (E-Mail Address)</mat-label>
        
        <input matInput type="email" placeholder="pat@example.com" required
        name="email" [formControl]="email">
        
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Enter your password</mat-label>
        
        <input matInput [type]="hide ? 'password' : 'text'" required
        name="password" [(ngModel)]="password">
        
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="password==''">{{getErrorPassword()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Login</button>

      <mat-error *ngIf="(email.value === '' || password === '') && hasSubmitted">Please fill all required fields!</mat-error>
      <p style="color: green" *ngIf="showmessage && hasSubmitted && email.value !== '' && password !== ''">Login successful.</p>
      <mat-error *ngIf="!showmessage && hasSubmitted && email.value.length > 0 && password.length > 0">Login failed.</mat-error>
</form>